@import 'sectionOne';
@import 'sectionTwo';
@import 'sectionThree';
@import 'sectionFour';
@import 'sectionFive';
@import 'sectionSix';

main{
    width: 85%;
    margin: 0 auto;
}

@media(max-width:768px){
    main{
        width:95%;
        margin: 0 auto !important;    
    }
}